<template>
<div>

</div>
</template>

<script>
    export default {
        name: "profile",
        // mounted: async function(){
        //   await this.$store.dispatch('user/getUser')
        // },
        // computed: {
        //    user(){
        //      return this.$store.getters['user/user']
        //    }
        // }
    }
</script>

<style scoped>

</style>
