<template>
    <div>
      <nuxt-link to="lessons/all">Список уроков</nuxt-link>
      <nuxt-link to="blocks/list">Список Блоков Тестов</nuxt-link>
    </div>
</template>

<script>
    export default {
        name: "interface"
    }
</script>

<style scoped>

</style>
